# SPDX-FileCopyrightText: Copyright contributors to the Software Quality Assurance as a Service (SQAaaS) project <sqaaas@ibergrid.eu>
# SPDX-FileContributor: Pablo Orviz <orviz@ifca.unican.es>
#
# SPDX-License-Identifier: GPL-3.0-only

pre-commit
black
isort
flake8
mypy
git+https://github.com/orviz/docformatter@lists_in_ini_files#egg=docformatter
reuse
